<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.business.AgentChannelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.system.domain.business.AgentChannelEntity">
        <id column="channel_id" property="channelId" />
        <result column="agent_id" property="agentId" />
        <result column="hide_qrcode" property="hideQrcode" />
        <result column="qrcode_model" property="qrcodeModel" />
        <result column="overtime" property="overtime" />
        <result column="over_amount" property="overAmount" />
        <result column="payurl_user" property="payurlUser" />
        <result column="locked_code" property="lockedCode" />
        <result column="set_amount" property="setAmount" />
        <result column="max_code" property="maxCode" />
        <result column="show_channel" property="showChannel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        channel_id, agent_id, hide_qrcode, qrcode_model, overtime, over_amount, payurl_user, locked_code, set_amount, max_code, show_channel
    </sql>

    <select id="listByAgentId" resultType="com.ruoyi.system.domain.business.AgentChannelEntity">
        SELECT
            a.*,b.channel_code,b.channel_name
        FROM ct_agent_channel a
        JOIN ct_channel b on a.channel_id = b.id
        where 1=1
        <if test="agentId != null">
            and a.agent_id = #{agentId}
        </if>
        <if test="channelCode != null and channelCode != ''">
            and b.channel_code like concat('%',#{channelCode},'%')
        </if>
        <if test="channelName != null and channelName != ''">
            and b.channel_name like concat('%',#{channelName},'%')
        </if>
    </select>
</mapper>
