@charset "utf-8";

body {
  background: #fff;
}
.cny-number {
  width: 100%;
  height: 100%;
  max-width: 500px;
  background-color: #136aba;
  padding: 50px 25px 0 25px;
  overflow: auto;
  margin: 0 auto;
}

.cny-number_main {
  width: 100%;
  height: 100%;
  position: relative;
}

.container-top {
  background-color: #ffffff;
  border-radius: 25px;
  width: 100%;
  padding-bottom: 1rem;
}

.container-top-logo {
  padding: 8px 0;
  border-bottom: 1px solid rgb(238, 238, 238);
}
.container-top-logo > img {
  display: block;
  width: 28px;
  height: 28px;
  margin: 0 auto;
}
.container-top-logo > p {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  margin-top: 8px;
  text-align: center;
}

.pay-section {
  padding: 5px 15px;
  align-items: center;
  justify-content: space-between;
}

.pay-section > p {
  color: #999
}

.copy-div {
  margin-left: 6px
}

.copy-div > img {
  width: 20px;
  height: 20px;
}

.count-dowm-div {
  padding-bottom: 8px
}

.warn-msg {
  font-size: 16px;
  color: rgb(238, 0, 0);
  line-height: 26px;
  font-weight: 700;
  padding: 0 15px
}

.order-no {
  color: rgb(51, 51, 51);
  margin-top: 4px;
  text-align: center;
  font-weight: 700
}

.container-bottom {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container-bottom .warn-msg {
  color: rgb(255, 60, 60);
  padding: 0
}

.warn-title {
  font-size: 12px;
  color: rgb(254, 254, 254);
  line-height: 24px;
}

.step-div {
  width: 100%;
}
.step-div > img {
  display: block;
  width: 100%;
  margin: auto
}


.order-end {
  color: #fff;
  line-height: 26px;
  text-align: center;
}
